@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

html {
    height: 100%;
}

@media screen and (max-width: 768px) {
    .fa-bars {
        display: block;
    }

    #menulist {
        max-height: none;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#57606f, #2f3542);
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #fafafa;
    font-size: 12px;
}

.login-link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    color: #fafafa;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
}

.login-link:hover {
    background: black;
    color: #c0c0c0;
    border-radius: 5px;
}

.login-box a span {
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent);
    animation: btn-anim1 1s linear infinite;
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent);
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
}

.error-msg {
    margin: 10px 0;
    display: block;
    background: crimson;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
}

.register-button {
    padding: 15px 40px;
    margin-left: 5.5rem;
    background: #080808;
    /* darkest black */
    font-weight: bold;
    color: #f9f9f9;
    /* off-white */
    cursor: pointer;
    border-radius: 10px
}

.register-button:hover {
    color: #080808;
    background: #AAAAAA;
    transition: 0.8s;
}

.glossy-selectbox {
    display:inline-block;
    font:normal bold 12px Arial,Sans-Serif;
    position:relative;
    width: 100%;
    background-color:#111;
    text-align:left;
    /* CSS3 Browser */
    background-image:linear-gradient(top,rgba(255,255,255,.4) 0%,rgba(255,255,255,.2) 50%,rgba(255,255,255,0) 50%,rgba(255,255,255,.1) 100%);
    /* IE only */
    filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#333333',endColorstr='#111111');
    border-radius:7px;
    box-shadow:inset 0 1px 1px 1px rgba(255,255,255,.1), 0 1px 3px rgba(0,0,0,.7);
}

.glossy-selectbox:before,
.glossy-selectbox:after {
    content:"";
    display:block;
    width:0;
    height:0;
    border:3px solid transparent;
    border-width:5px 3px;
    border-bottom-color:#999;
    position:absolute;
    top:25%;
    right:5px;
    z-index:4;
}

.glossy-selectbox:after {
    border-color:#999 transparent transparent;
    top:auto;
    bottom:25%;
}

.glossy-selectbox input {
    display:block;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    width:15px;
    height:100%;
    opacity:0;
    z-index:10;
    cursor:pointer;
}

.glossy-selectbox label {
    display:block;
    line-height:45px;
    color:rgba(255,255,255,.5);
    padding:0 15px;
    transition:all 0s ease-out;
}

.glossy-selectbox label:before {
    content:attr(data-default);
}

.glossy-selectbox label:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    width:15px;
    border-left:1px solid rgba(0,0,0,.4);
    border-radius:0 7px 7px 0;
    box-shadow:inset 1px 0 0 rgba(255,255,255,.1),-1px 0 0 rgba(255,255,255,.1);
}

.glossy-selectbox input:hover + label {
    color:white;
}

.glossy-selectbox input:hover + label:after {
    background-color:rgba(255,255,255,.04);
}

.glossy-selectbox ul {
    margin:0 0;
    padding:0 0;
    position:absolute;
    top:100%;
    left:14px;
    right:14px;
    background-color:#222;
    border:1px solid #111;
    box-shadow:0 1px 2px rgba(0,0,0,.4),0 5px 7px -2px rgba(0,0,0,.4);
    visibility:hidden;
    opacity:0;
    z-index:99;
}

.glossy-selectbox li {
    margin:0 0;
    padding:0 0;
    list-style:none;
    float:left;
    width:50%;
    display:inline;
}

.glossy-selectbox a {
    display:block;
    position:relative;
    color:#999;
    text-decoration:none;
    text-shadow:0 0 2px black;
    line-height:30px;
    border-top:1px solid #111;
    border-right:1px solid #111;
    padding:0 15px 0 32px;
    box-shadow:inset 0 0 0 1px #333;
    /* Opera note: An unstable box shadow will appear if you don't define the border radius less than 1 pixel. Weird! */
    border-radius:1px;
}

.glossy-selectbox a:nth-child(even) {
    border-right-width:0;
}

.glossy-selectbox a:before {
    content:"";
    display:block;
    width:16px;
    height:16px;
    position:absolute;
    top:7px;
    left:7px;
    background-color:transparent;
    background-repeat:no-repeat;
    background-position:50% 0;
}

.glossy-selectbox a:hover:before {
    background-position:50% 100%;
}

.glossy-selectbox a:hover {
    background-color:rgba(0,0,0,.2);
    color:#ccc;
}

/* On click, then... */
.glossy-selectbox input:checked + label {
    color:rgba(255,255,255,.4);
    transition-duration:.4s;
}

.glossy-selectbox input:checked + label:before {
    content:attr(data-focus);
}

.glossy-selectbox input:checked + label:after {
    background-color:rgba(0,0,0,.2);
    box-shadow:inset 1px 0 1px rgba(0,0,0,.4),-1px 0 0 rgba(255,255,255,.1);
}

.glossy-selectbox input:checked ~ ul {
    visibility:visible;
    opacity:1;
}

.file-upload{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}